html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh !important;
  font-family: helvetica, arial, sans-serif;
}
#cesiumContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#toolbar{
  position: absolute;
  margin: 5px;
  padding: 2px 5px;
  display: none;
  z-index: 11;
  overflow-y: scroll;
  max-height: 100vh;
}
.infoPanel {
    background: rgba(42,42,42,.8);
    padding: 4px;
    border: 1px solid #444;
    border-radius: 4px;
    color: white;
    z-index: 11;
}


#loading {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: visible;
}
.disappear {
  opacity: 0!important;
  visibility: hidden!important;
}

.cesium-widget-credits{
    display: none !important;
}

.headingTxt{
  position: absolute;
  background-color: transparent;
  color: white;
  z-index: 9;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cesium-viewer-toolbar{
  z-index: 10;
}


.cosmos{
  border-radius: 50%;
  background-color: red;
  width: 11%;
  height: 15%;
}
.irridium{
  border-radius: 50%;
  background-color: rgb(0, 245, 0);
  width: 11%;
  height: 15%;
}

.fengyun{
  border-radius: 50%;
  background-color: rgb(85, 85, 85);
  width: 11%;
  height: 15%;
}

#labels{
  position: absolute;
  margin: 5px;
  padding: 2px 5px;
  z-index: 11;
  max-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}
.cosmosContr, .irridiumContr, .fengyunContr{
  display: flex;
  align-items: center;
}
p{
  color: wheat;
  font-size: small;
  padding-left: 6%;
}