html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh !important;
  font-family: helvetica, arial, sans-serif;
}
#cesiumContainer {
  height: 100vh;
}
#loading {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: visible;
}
.disappear {
  opacity: 0!important;
  visibility: hidden!important;
}

.cesium-widget-credits{
    display: none !important;
}

.headingTxt{
  position: absolute;
  background-color: transparent;
  color: white;
  z-index: 9;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cesium-viewer-toolbar{
  z-index: 16;
}